.smart_coupons {
  /* 2. Box model */
  padding: var(--space-120) var(--space-32) var(--space-32) var(--space-32);
}

.smart_coupons__container {
  /* 2. Box model */
  max-width: var(--breakpoint-lg);
  margin: auto;
}

.smart_coupons__content {
  /* 2. Box model */
  margin-top: var(--space-120);
}

.smart_coupons__title {
  /* 2. Box model */
  margin-bottom: var(--space-24);

  /* 3. Typography */
  font-size: 7rem;
  text-transform: uppercase;
}

.smart_coupons__disclaimer_text {
  /* 3. Typography */
  color: var(--gray-light);
}

.smart_coupons__disclaimer {
  /* 1.Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);

  /* 2. Box model */
  width: fit-content;
}

.smart_coupons__disclaimer_icon {
  /* 4.Visuals */
  transform: rotate(270deg);
}

.smart_coupons__disclaimer_link {
  /* 4.Visuals */
  color: var(--gray-light);
  transition: color 0.3s ease;
}

.smart_coupons__disclaimer_link:hover {
  /* 3. Typography */
  color: var(--primary-light);
}

.smart_coupons__description {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-32);

  /* 2. Box model */
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);
  max-width: var(--space-496);
}

.smart_coupons__skills_container {
  /* 1.Positioning */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-8);

  /* 2. Box model */
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);
}

.smart_coupons__skill {
  /* 2. Box model */
  padding: var(--space-8) var(--space-16);

  /* 4.Visuals */
  background-color: var(--primary-dark);
  border-radius: var(--space-32);

  /* color: var(--white-light); */
}

.smart_coupons__img_container {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  /* 2. Box model */
  margin-top: var(--space-48);
  margin-bottom: var(--space-48);
}

.smart_coupons__img {
  /* 2. Box model */
  height: auto;
  width: 100%;

  /* 4.Visuals */
  transition: transform .5s ease;
}

.smart_coupons__button {
  /* 1.Positioning */
  display: block;
  justify-self: flex-end;

  /* 2. Box model */
  width: fit-content;
}

.smart_coupons__button_text {
  /* 2. Box model */
  padding: var(--space-16);
  width: fit-content;
  border: 1px solid var(--gray-light);
  border-radius: var(--space-8);

  /* 2. Box model */
  text-transform: uppercase;
  color: var(--white-light);

  /* 4.Visuals */
  transition: color 0.3s ease;
}

.smart_coupons__button_text:hover {
  /* 3. Typography */
  color: var(--gray);
}

@media (min-width: 768px) {
  .smart_coupons__img_container {
    /* 1.Positioning */
    display: grid;
    gap: var(--space-8);
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'SM1 SM2 SM3'
      'SM4 . .';
  
    /* 2. Box model */
    width: fit-content;
  }

  .smart_coupons__img:hover {
    /* 4.Visuals */
    transform: scale(1.5);
  }
}