.card {
  /* 2. Box model */
  display: flex;
  flex-direction: column;

  /* 4. Visuals */
  border-radius: var(--space-8);
  border: 1px solid var(--black-light);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card:hover {
  /* 4. Visuals */
  transform: scale(1.01);
}

.card__container {
  /* 1. Positioning */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 4. Visuals */
  overflow: hidden;
}

.card__title {
  /* 2. Box model */
  padding: var(--space-16) 0;
  margin-bottom: var(--space-16);
  border-bottom: .5px solid white;
  max-width: 60%;

  /* 3. Typography */
  text-transform: uppercase;
}

.card__text {
  /* 2. Box model */
  padding: var(--space-24) var(--space-16);

  /* 3. Typography */
  color: var(--white-light);
}

.card__description {
  /* 3. Typography */
  color: var(--white-dark);
}

.card__disclaimer {
  /* 1. Positioning */
  display: block;

  /* 2. Box model */
  margin-top: var(--space-16);
  width: fit-content;

  /* 3. Typography */
  color: var(--gray-light);
}

.card__icon {
  /* 1. Positioning */
  align-self: end;

  /* 2. Box model */
  padding: var(--space-8);

  /* 4. Visuals */
  transform: rotate(-90deg);
}

@media (min-width: 768px) {
  .card {
    /* 2. Box model */
    max-width: 48%;
  }
}