.presentation {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 2. Box model */
  width: 100%;
  height: 100vh;
  padding: var(--space-48) var(--space-32) var(--space-32) var(--space-32);
}

.presentation__container {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 2. Box model */
  max-width: var(--breakpoint-lg);
}

.presentation__image {
  /* 2. Box model */
  height: auto;
  width: 100%;
  max-width: var(--breakpoint-md);
}

.presentation__title {
  /* 3. Typography */
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.presentation__subtitle {
  /* 2. Box model */
  align-self: flex-end;

  /* 3. Typography */
  text-align: center;
}

.presentation__button {
  /* 1. Positioning */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 2. Box model */
  padding: var(--space-16);
  margin-bottom: var(--space-80);

  /* 4. Visuals */
  border-radius: var(--space-32);
  background-color: var(--secondary);
  animation: background-color .9s ease;
  box-shadow: 5px 8px 113px -7px rgba(79, 108, 216, 1);
}

.presentation__button:hover {
  /* 4. Visuals */
  background-color: var(--secondary-light);
}

.section {
  /* 1. Positioning */
  display: flex;
  justify-content: center;

  /* 2. Box model */
  width: 100%;
  padding: var(--space-112) var(--space-16) var(--space-32) var(--space-16);
}

.section__title {
  /* 2. Box model */
  margin-bottom: var(--space-32);

  /* 3. Typography */
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.section__description {
  /* 1. Positioning */
  display: flex;
  justify-content: center;

  /* 3. Typography */
  text-align: center;
}

.section__container {
  /* 2. Box model */
  max-width: var(--breakpoint-lg);
  margin-bottom: var(--space-32);
}

.section__links_container {
  /* 1. Positioning */
  display: flex;
  align-items: center;
  gap: var(--space-16);

  /* 2. Box model */
  margin-top: var(--space-48);
  margin-bottom: var(--space-48);
}

.section__links {
  /* 2. Box model */
  padding: var(--space-16);
  width: fit-content;
  border: 1px solid var(--gray-light);
  border-radius: var(--space-8);

  /* 2. Box model */
  text-transform: uppercase;
  color: var(--white-light);

  /* 4.Visuals */
  transition: color 0.3s ease;
}

.section__links:hover {
  /* 3. Typography */
  color: var(--gray);
}

.section__card {
  /* 3. Typography */
  text-align: center;
}

.section__card_container {
  /* 1. Positioning */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-16);

  /* 2. Box model */
  margin-top: var(--space-48);
}

.section__icons {
  /* 1. Positioning */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 2. Box model */
  padding: var(--space-8);
  width: fit-content;

  /* 4. Visuals */
  border: 1px solid var(--gray-dark);
}

.section__text {
  /* 1. Positioning */
  display: block;

  /* 2. Box model */
  margin-top: var(--space-8);

  /* 3. Typography */
  color: var(--white-dark);
}

.section__text:hover {
  /* 3. Typography */
  color: var(--primary-light);
}

.section__container_recommendations {
  /* 2. Box model */
  padding-top: var(--space-112);
}

.section__recommendation {
  /* 2. Box model */
  margin-top: var(--space-48);
}

.section__text_container {
  /* 2. Box model */
  padding: var(--space-48) var(--space-32) var(--space-32) var(--space-32);
}

.section__skills {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}

.section__skills_container {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  /* 2. Box model */
  padding: var(--space-24);
  border: .5px solid var(--black-light);
  border-radius: var(--space-8);
}

.section__skills_title {
  /* 3. Typography */
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .presentation__title {
    /* 3. Typography */
    font-size: 16rem !important;
    line-height: 1;
  }

  .presentation__subtitle {
    /* 3. Typography */
    text-align: end;
  }

  .section {
    /* 2. Box model */
    padding: var(--space-112) var(--space-32) var(--space-32) var(--space-32);
  }

  .section__card_container {
    /* 1. Positioning */
    justify-content: center;
  }

  .section__title {
    /* 3. Typography */
    font-size: 4rem;
  }

  .section__card_container__projects {
    /* 1. Positioning */
    justify-content: flex-start;
  }

  .section__skills_container {
    /* 2. Box model */
    max-width: 48%;
  }
}

@media (min-width:1024px) {
  .section__text_container {
    /* 2. Box model */
    padding: 0;
  }
}