.payments {
  /* 2. Box model */
  padding: var(--space-120) var(--space-32) var(--space-32) var(--space-32);
}

.payments__container {
  /* 2. Box model */
  max-width: var(--breakpoint-lg);
  margin: auto;
}

.payments__content {
  /* 2. Box model */
  margin-top: var(--space-120);
}

.payments__title {
  /* 2. Box model */
  margin-bottom: var(--space-24);

  /* 3. Typography */
  font-size: 7rem;
  text-transform: uppercase;
}

.payments__disclaimer_text {
  /* 3. Typography */
  color: var(--gray-light);
}

.payments__disclaimer {
  /* 1.Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);

  /* 2. Box model */
  width: fit-content;
}

.payments__disclaimer_icon {
  /* 4.Visuals */
  transform: rotate(270deg);
}

.payments__disclaimer_link {
  /* 4.Visuals */
  color: var(--gray-light);
  transition: color 0.3s ease;
}

.payments__disclaimer_link:hover {
  /* 3. Typography */
  color: var(--gray-dark);
}

.payments__description {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-32);

  /* 2. Box model */
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);
  max-width: var(--space-496);
}

.payments__skills_container {
  /* 1.Positioning */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-8);

  /* 2. Box model */
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);
}

.payments__skill {
  /* 2. Box model */
  padding: var(--space-8) var(--space-16);

  /* 4.Visuals */
  background-color: var(--primary-dark);
  border-radius: var(--space-32);

  /* color: var(--white-light); */
}

.payments__img_container {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  /* 2. Box model */
  margin-top: var(--space-48);
  margin-bottom: var(--space-48);
}

.payments__img {
  /* 2. Box model */
  height: auto;
  width: 100%;

  /* 4.Visuals */
  transition: transform .5s ease;
}

.payments__button {
  /* 1.Positioning */
  display: block;
  justify-self: flex-end;

  /* 2. Box model */
  width: fit-content;
}

.payments__button_text {
  /* 2. Box model */
  padding: var(--space-16);
  width: fit-content;
  border-radius: var(--space-8);

  /* 2. Box model */
  text-transform: uppercase;

  /* 3. Typography */
  color: var(--white-light);

  /* 4.Visuals */
  background-color: var(--black-light);
  border: 1px solid transparent;
  transition: all .3s ease;
}

.payments__button_text:hover {
  /* 2. Box model */
  border: 1px solid var(--gray-dark);
}

@media (min-width: 768px) {
  .payments__img_container {
    /* 1.Positioning */
    display: grid;
    gap: var(--space-8);
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'Payments1 Payments2 Payments3'
      'Payments4 Payments5 Payments6';
  
    /* 2. Box model */
    width: fit-content;
  }
}