.switch__container {
  /* 1. Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  /* 2.Box model */
  padding: var(--space-8);

  /* 4.Visuals */
  background-color: var(--black-dark);
  border: none;
  border-radius: var(--space-16);
}

.switch__button {
  /* 2.Box model */
  border: none;
  padding: var(--space-8);
  border-radius: var(--space-8);
  width: var(--space-40);
  height: var(--space-40);

  /* 3.Typography */
  color: var(--white);

  /* 4.Visuals */
  background-color: transparent;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  /* 5.Others */
  cursor: pointer;
}

.switch__button__selected {
  /* 3.Typography */
  color: var(--white);
  font-weight: bold;

  /* 4.Visuals */
  background-color: var(--black-light);
}

.switch__button_text {
  /* 3.Typography */
  color: var(--white);

}