.question {}

.question__header {
  /* 1. Positioning */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);

  /* 2.Box model */
  width: 100%;
  max-width: var(--breakpoint-md);
  padding: var(--space-16);
  margin-bottom: var(--space-24);

  /* 3.Typography */
  text-transform: uppercase;
  color: var(--white-light);

  /* 4.Visuals */
  border-radius: var(--space-8);
  background-color: var(--secondary);

  /* 5. Others */
  cursor: pointer;
}

.question__title {
  /* 1. Positioning */
  display: flex;
  justify-content: space-between;
  gap: var(--space-8);

  /* 2.Box model */
  width: 100%;
}

.question__icon {
  /* 2.Box model */
  padding: var(--space-8);
}

.question__content {
  /* 2.Box model */
  width: 100%;
  max-width: var(--breakpoint-md);
  height: 0;
  margin: 0;
  padding: 0;

  /* 4.Visuals */
  border-radius: var(--space-8);
  background-color: var(--primary);
  opacity: 0;
  transition: all 0.1s;
}

.question__content_open {
  /* 2.Box model */
  height: auto;
  margin-top: var(--space-24);
  margin-bottom: var(--space-24);
  padding: var(--space-16);

  /* 4.Visuals */
  opacity: 1;
}

.question__icon_experience {
  /* 2.Box model */
  margin-bottom: var(--space-16);
}

.question__content>.question__description_header,
.question__content>.question__description,
.question__content>.question__pill {
  /* 1. Positioning */
  display: none;
}

.question__content_open>.question__description_header,
.question__content_open>.question__description,
.question__content_open>.question__pill {
  /* 1. Positioning */
  display: flex;
}

.question__description_header {
  /* 1. Positioning */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-8);

  /* 2.Box model */
  margin-bottom: var(--space-24);
}

.question__description_location,
.question__description_link {
  /* 1. Positioning */
  display: flex;
  align-items: center;
  gap: var(--space-8);
}

.question__disclaimer {
  /* 3.Typography */
  color: var(--white-dark);
}

.question__description {
  /* 2.Box model */
  width: 100%;
}

.question__pill {
  /* 2.Box model */
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
  margin-top: var(--space-24);
}

.question__pill_text {
  /* 2.Box model */
  padding: var(--space-8) var(--space-16);

  /* 3.Typography */
  color: var(--white-dark);

  /* 4.Visuals */
  border-radius: var(--space-24);
  background-color: var(--primary-dark);
  filter: saturate(0.5);
}

@media (min-width: 1024px) {
  .question__description {
    /* 1. Positioning */
    display: flex;
    align-items: flex-start;
    gap: var(--space-80);
  }

  .question__description_header {
    /* 1. Positioning */
    gap: var(--space-24);
  }

  .question__description_text {
    /* 2.Box model */
    width: 70%;
  }
}